/* WRAPPER-STYLES */

.flexWrapperCustomStyles {
    justify-content: space-between;
}

.flexWrapperInputGroup {
    gap: 20px;
}

.flexWrapperIndentTwo {
    gap: 30px;
}

/* ------------------ */

.container {
    padding-top: 100px;
}

.h2 {
    line-height: 1.25;
    margin-bottom: 50px;
}

.p {
    max-width: 500px;
    line-height: 1.5;
    margin-bottom: 40px;
}

.ul {

}

.li {   
    padding-left: 30px;
    margin-bottom: 15px;

    background-image: url('../../../../../../app/assets/icons/checkMark.svg');
    background-repeat: no-repeat;
    background-position: left center;
    
    /* FIGMA */
    font-size: 16px;
    line-height: 1.375;
    color: #363940;
}

.button {
    width: 100%;
}

@media screen and (max-width: 1300px) {
    .flexWrapperCustomStyles {
        flex-direction: column;                  
    } 

    .p {
        max-width: 100%;
    }

    .ul {
        margin-bottom: 70px;        
    }

    form {
        margin: 0 auto;
    }
}

@media screen and (max-width: 545px) {
     .flexWrapperInputGroup {
        display: flex;
        flex-direction: column;
        gap: 0;
        width: 100%;
     }

     fieldset > label {
        display: inline-block;
        margin-right: 5px;        
     }
   
   
}






