*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    min-height: 100vh;
    outline: 1px solid rgb(248, 8, 8);
    
}

.container {
    max-width: 1400px;
    width: 100%;
    height: 100%;
    padding: 0 130px;
    margin: 0 auto;
    outline: 1px solid rgb(95, 9, 255)
}

.primaryFont {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    color: #363940;
}

.secondaryFont {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    color: #95a1bb;
}

nav {
    background-color: #0a61f7;
}

li {
    list-style: none;
}