*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    min-height: 100vh;

    display: flex;
    flex-direction: column;    
    align-items: center;

    outline: 1px solid rgb(248, 8, 8);    
}

.container {
    max-width: 1400px;
    width: 100%;
    height: 100%;
    
    padding: 0 130px; 
    margin-bottom: 100px;   
    
    outline: 1px solid rgb(95, 9, 255)
}

.primaryFont {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    color: #363940;
}

.secondaryFont {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    color: #95a1bb;
}

h1 {
    /* FIGMA */
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 58px;

    /* line-height: 68px; */ 
    line-height: 1.17241;
    color: #363940;
}

li {
    list-style: none;
}

button {
    text-transform: uppercase;
    text-align: center;  
    border-radius: 4px;
}