*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    min-height: 100vh;

    display: flex;
    flex-direction: column;    
    align-items: center;

    outline: 1px solid rgb(248, 8, 8);    
}

.container {
    max-width: 1400px;
    width: 100%;
    height: 100%;
    
    padding: 0 130px; 
    margin-bottom: 100px;   
    
    outline: 1px solid rgb(95, 9, 255)
}

.primaryFont {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    color: #363940;
}

.secondaryFont {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    color: #95a1bb;
}

h1 {
    margin: 102px 0 30px 0;

    /* FIGMA */
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 58px;

    /* line-height: 68px; */ 
    line-height: 1.17241;
    color: #363940;
}

h2 {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 32px;
}

p {
    /* FIGMA */
    font-size: 16px;
    line-height: 1.375;  
}

li {
    list-style: none;
}

button {
    text-transform: uppercase;
    text-align: center;  
    border: none;
    border-radius: 4px;
}

table {
    border-collapse: collapse; 
    width: 940px;
}

td, th {
    width: 240px;
    border: 1px solid #95a1bb; 
    padding: 20px; 
    text-align: center;
}